.xmonad/xmonad-x86_64-linux
.xmonad/xmonad-i386-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.eshell/lastdir
.eshell/history
.emacs.d/auto-save-list/
.emacs.d/lisp/cedet/
.emacs.d/lisp/ecb/
.emacs.d/lisp/python-mode/
.emacs.d/lisp/git-emacs/
.emacs.d/lisp/auto-complete/
.emacs.d/lisp/yaml-mode/
.emacs.d/.org-id-locations
.emacs.d/ac-comphist.dat
.mutt/cache
.mutt/certificates
.mutt/mail.imap
*~
