xmonad/xmonad-x86_64-linux
xmonad/xmonad-i386-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o

eshell/lastdir
eshell/history

emacs.d/.cask/
emacs.d/.org-id-locations
emacs.d/.session
emacs.d/abbrev_defs
emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/bookmarks
emacs.d/ede-projects.el
emacs.d/semanticdb
emacs.d/srecode-map.el

mutt/cache/
mutt/certificates

*~
*.elc
*.pyc
